article{
	border-radius: 5px;
	height: 50px;
	margin-top: 10px;
	text-align: center;
	width: 150px;
}
#uno{
	/*Si no soporta gradientes, este background se cargara*/
	background: red;
	/*Prefijo para Opera: -o-;*/
	background: -o-linear-gradient(rgba(255,0,0,1),rgba(255,255,0,1),blue);
	/*Prefijo para Webkit (Apple): -webkit-*/
	background: -webkit-linear-gradient(rgba(255,0,0,1),rgba(255,255,0,1),blue);
	/*Prefijo para Firefox: -moz-*/
	background: -moz-linear-gradient(rgba(255,0,0,1),rgba(255,255,0,1),blue);
	/*Prefijo para Microsoft - Edge*/
	background: -ms-linear-gradient(rgba(255,0,0,1),rgba(255,255,0,1),blue);
	/*Universal*/
	background: linear-gradient(rgba(255,0,0,1),rgba(255,255,0,1),blue);
}
#dos{
	/*Si no soporta gradientes, este background se cargara*/
	background: red;
	/*Prefijo para Opera: -o-;*/
	background: -o-linear-gradient(to left, red, yellow, blue);
	/*Prefijo para Webkit (Apple): -webkit-*/
	background: -webkit-linear-gradient(to left, red, yellow, blue);
	/*Prefijo para Firefox: -moz-*/
	background: -moz-linear-gradient(to left, red, yellow, blue);
	/*Prefijo para Microsoft - Edge*/
	background: -ms-linear-gradient(to left, red, yellow, blue);
	/*Universal*/
	background: linear-gradient(to left, red, yellow, blue);
}
#tres{
	/*Si no soporta gradientes, este background se cargara*/
	background: red;
	/*Prefijo para Opera: -o-;*/
	background: -o-linear-gradient(to right, red, yellow, blue);
	/*Prefijo para Webkit (Apple): -webkit-*/
	background: -webkit-linear-gradient(to right, red, yellow, blue);
	/*Prefijo para Firefox: -moz-*/
	background: -moz-linear-gradient(to right, red, yellow, blue);
	/*Prefijo para Microsoft - Edge*/
	background: -ms-linear-gradient(to right, red, yellow, blue);
	/*Universal*/
	background: linear-gradient(to right, red, yellow, blue);
}
#cuatro{
	/*Si no soporta gradientes, este background se cargara*/
	background: red;
	/*Prefijo para Opera: -o-;*/
	background: -o-linear-gradient(to right bottom, red, yellow, blue);
	/*Prefijo para Webkit (Apple): -webkit-*/
	background: -webkit-linear-gradient(to right bottom, red, yellow, blue);
	/*Prefijo para Firefox: -moz-*/
	background: -moz-linear-gradient(to right bottom, red, yellow, blue);
	/*Prefijo para Microsoft - Edge*/
	background: -ms-linear-gradient(to right bottom, red, yellow, blue);
	/*Universal*/
	background: linear-gradient(to right bottom, red, yellow, blue);
}
#cinco{
	/*Si no soporta gradientes, este background se cargara*/
	background: red;
	/*Prefijo para Opera: -o-;*/
	background: -o-linear-gradient(to left bottom, red, yellow, blue);
	/*Prefijo para Webkit (Apple): -webkit-*/
	background: -webkit-linear-gradient(to left bottom, red, yellow, blue);
	/*Prefijo para Firefox: -moz-*/
	background: -moz-linear-gradient(to left bottom, red, yellow, blue);
	/*Prefijo para Microsoft - Edge*/
	background: -ms-linear-gradient(to left bottom, red, yellow, blue);
	/*Universal*/
	background: linear-gradient(to left bottom, red, yellow, blue);
}
#seis{
	/*Si no soporta gradientes, este background se cargara*/
	background: red;
	/*Prefijo para Opera: -o-;*/
	background: -o-linear-gradient(70deg, red, yellow, blue);
	/*Prefijo para Webkit (Apple): -webkit-*/
	background: -webkit-linear-gradient(70deg, red, yellow, blue);
	/*Prefijo para Firefox: -moz-*/
	background: -moz-linear-gradient(70deg, red, yellow, blue);
	/*Prefijo para Microsoft - Edge*/
	background: -ms-linear-gradient(70deg, red, yellow, blue);
	/*Universal*/
	background: linear-gradient(70deg, red, yellow, blue);
}
#siete{
	/*Si no soporta gradientes, este background se cargara*/
	background: red;
	/*Prefijo para Opera: -o-;*/
	background: -o-repeating-linear-gradient(180deg, black, white, black 2%);
	/*Prefijo para Webkit (Apple): -webkit-*/
	background: -webkit-repeating-linear-gradient(180deg, black, white, black 2%);
	/*Prefijo para Firefox: -moz-*/
	background: -moz-repeating-linear-gradient(180deg, black, white, black 2%);
	/*Prefijo para Microsoft - Edge*/
	background: -ms-repeating-linear-gradient(180deg, black, white, black 2%);
	/*Universal*/
	background: repeating-linear-gradient(180deg, black, white, black 2%);
}
.texto{
	position: relative;
	top: 15px;
}